<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{ viewTitle }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
 
<ion-content>
  <ion-item>
    <ion-label position="stacked">Patient Name</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.patName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Mobile Number</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.phoneNumber"></ion-input>
  </ion-item>

  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Day</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <calendar
    *ngIf="modalReady"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    lockSwipes="true"
    (onTimeSelected)="onDateSelected($event)"
  >
  </calendar>
</ion-content>