<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <!-- <ion-title>{{ viewTitle }}</ion-title> -->
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
 
<ion-content>
  <ion-item>
    <ion-label style="font-weight: bold;" position="stacked">Patient Name</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.patName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-weight: bold;" position="stacked">Mobile Number</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.phoneNumber"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-weight: bold;">Appointment Date</ion-label>
    <ion-label position="stacked">{{event.startTime}}</ion-label>
  </ion-item>

  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
 
    <ion-col size="8" class="ion-text-center">
      <h5>{{ viewTitle }}</h5>
    </ion-col>
 
    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Day</ion-label>
    </ion-segment-button>
  </ion-segment> -->
 
  <calendar
    *ngIf="modalReady"
    [calendarMode]="mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onDateSelected($event)"
    [allDayLabel]="alldayLabel"
  >
  </calendar>
</ion-content>